
::-moz-selection {
  background-color: #c50700;
}

::selection {
  background-color: #c50700;
}

.btn-primary,
.loading-mask,
.section-title h3::after,
.hexagon-item:hover .hex-item div::before,
.hexagon-item:hover .hex-item div::after,
.progress .bar,
.contact-social li:hover span {
  background-color: #c50700;
}

.nicescroll-cursors {
  background: #c50700 !important;
}

.primary,
.link:hover,
.filter .active,
.works-item h4,
.msg-success {
  color: #c50700;
}

.testimonials .owl-dot.active {
  border-color: #c50700;
}

.site-wrapper,
.contact-social li:hover span::after,
.contact-social-hex:hover::before {
  border-top-color: #c50700;
}

.filter .active,
.contact-social li:hover span::before,
.contact-social-hex:hover::after {
  border-bottom-color: #c50700;
}

.service-hex:hover .fill,
.service-hex:hover .st1 {
  fill: #c50700;
}
